<section >
<div class="post-wrapper">
  <div>
    <span> <%= @post.title %> By  <%= @post.author.name %> </span>
    <span>
      Comments: <%= @post.comments_counter %> , Likes: <%= @post.likes_counter %>
    </span>
  </div>
  <p><%= @post.text %></p>
  <%= render'/shared/new_like' %>
  <% if can? :destroy, @post %>
       <%= button_to 'Delete Post',
             user_post_path,
             method: :delete,
             data: {confirm: 'Are You Sure You Want to Delete This Post'}, class: 'btn btn-danger'%>
     <% end %>

</div>
  <ul class="comments-list-cont">
      <% if @post.comments_counter > 0 %>
          <%= render 'shared/comment', comments: @post.comments %>
      <% else %>
      <li>No comments</li>
    <% end %>
  <%= render '/shared/new_comment'%>
  </ul>   
</section>