<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <header>
      <% if current_user %>
        <%=  render "layouts/navbar" %>
      <% else %>
      <%= render "layouts/unauth" %>
      <% end %>
      </div>
    </div>
  </div> 
    <hr />
  </header>
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% elsif alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
  </body>
</html>
